<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Licht</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-card-title>
        <span>Zwembad licht</span>
      </ion-card-title>
        <ion-toggle [(ngModel)]="light" (ngModelChange)='saveLight()'></ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>
